bin/
obj/
.vs/
*.user
*.suo
.idea/
[Dd]ebug/
[Rr]elease/
*.log
.DS_Store
client/Library/
client/Temp/
client/Obj/
client/Build/
client/Logs/
client/UserSettings/
client/*.csproj
client/*.sln
*.DotSettings.user
